@import "tailwindcss";
@plugin "daisyui";

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 100;
    src: url(./assets/fonts/Inter-Thin.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 200;
    src: url(./assets/fonts/Inter-ExtraLight.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url(./assets/fonts/Inter-Light.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(./assets/fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(./assets/fonts/Inter-Medium.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url(./assets/fonts/Inter-SemiBold.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(./assets/fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src: url(./assets/fonts/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src: url(./assets/fonts/Inter-Black.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-display: swap;
    font-weight: 100;
    src: url(./assets/fonts/Inter-ThinItalic.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-display: swap;
    font-weight: 200;
    src: url(./assets/fonts/Inter-ExtraLightItalic.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-display: swap;
    font-weight: 300;
    src: url(./assets/fonts/Inter-LightItalic.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src: url(./assets/fonts/Inter-Italic.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-display: swap;
    font-weight: 500;
    src: url(./assets/fonts/Inter-MediumItalic.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-display: swap;
    font-weight: 600;
    src: url(./assets/fonts/Inter-SemiBoldItalic.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-display: swap;
    font-weight: 700;
    src: url(./assets/fonts/Inter-BoldItalic.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-display: swap;
    font-weight: 800;
    src: url(./assets/fonts/Inter-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-display: swap;
    font-weight: 900;
    src: url(./assets/fonts/Inter-BlackItalic.ttf);
}

/* .inter-thin { font-family: 'Inter', sans-serif; font-weight: 100; }
.inter-extralight { font-family: 'Inter', sans-serif; font-weight: 200; }
.inter-light { font-family: 'Inter', sans-serif; font-weight: 300; }
.inter-regular { font-family: 'Inter', sans-serif; font-weight: 400; }
.inter-medium { font-family: 'Inter', sans-serif; font-weight: 500; }
.inter-semibold { font-family: 'Inter', sans-serif; font-weight: 600; }
.inter-bold { font-family: 'Inter', sans-serif; font-weight: 700; }
.inter-extrabold { font-family: 'Inter', sans-serif; font-weight: 800; }
.inter-black { font-family: 'Inter', sans-serif; font-weight: 900; }

.inter-thin-italic { font-family: 'Inter', sans-serif; font-weight: 100; font-style: italic; }
.inter-extralight-italic { font-family: 'Inter', sans-serif; font-weight: 200; font-style: italic; }
.inter-light-italic { font-family: 'Inter', sans-serif; font-weight: 300; font-style: italic; }
.inter-regular-italic { font-family: 'Inter', sans-serif; font-weight: 400; font-style: italic; }
.inter-medium-italic { font-family: 'Inter', sans-serif; font-weight: 500; font-style: italic; }
.inter-semibold-italic { font-family: 'Inter', sans-serif; font-weight: 600; font-style: italic; }
.inter-bold-italic { font-family: 'Inter', sans-serif; font-weight: 700; font-style: italic; }
.inter-extrabold-italic { font-family: 'Inter', sans-serif; font-weight: 800; font-style: italic; }
.inter-black-italic { font-family: 'Inter', sans-serif; font-weight: 900; font-style: italic; } */

.Inter {
    font-family: 'Inter', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

.slide-enter {
    animation: slide-right 500ms ease-in-out forwards;
}

.slide-down {
    animation: slide-down 500ms ease-in-out forwards;
}

.opacity {
    animation: opacity_vanich 300ms ease-in forwards;
}

@keyframes slide-right {
    from {
        right: -100%;
    }

    to {
        right: 0
    }
}

@keyframes slide-down {
    from {
        top: -100%;
    }

    to {
        top: 0
    }
}

@keyframes opacity_vanich {
    from {
        background-color: #0000;
        backdrop-filter: blur(0);
    }

    to {
        background-color: rgba(0, 0, 0, 0.349);
        backdrop-filter: blur(3px);
    }
}